@page "/login"

<PageTitle>Login User</PageTitle>

@using Blazor.Data
@using Blazor.Data.Models
@using Blazor.Data.Services
@using Blazor.Data.Services.Interfaces

<h1>Login User</h1>
<p>
<div>
    <p>
        Username <input type="text" title="Username" name="Username" id="u1"/>
    </p>
</div>
<div>
    <p>
        Password <input type="password" title="Password" name="Password" id="u2"/>
    </p>
</div>
</p>

<div>
    <p>
        <button class="btn btn-outline-dark" type="submit" @onclick="OnLoginClick">Login</button> <button
            class="btn btn-outline-dark" type="cancel" @onclick="cleanInput">Cancel</button>
    </p>
</div>

@code {

    private async Task OnCancelClick()
    {
        Console.WriteLine("My debug cancel.");
    }

    private async Task OnLoginClick()
    {
        Console.WriteLine("My debug Login");
    }

    void cleanInput(){
        Console.WriteLine("My debug Login");
    }
}