@page "/login"

<title>User Login</title>

@using Blazor.Data
@using Blazor.Data.Models
@using Blazor.Data.Services
@using Blazor.Data.Services.Interfaces

<div class="row">
    <div class="col-5 shadow-lg p-5 border m-2 border-opacity-25 bg-light bg-gradient">
        <h2 class="text-center mb-3">User Login</h2>
        <form>
            <p>
            <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text" title="Username" name="Username" class="form-control" value="Username"/>
            </div>
            <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                     <input type="password" title="Password" name="Password" class="form-control" value="Password" />
            </div>
            </p>

            <div>
                <p>
                    <button class="btn btn-outline-dark" type="submit" @onclick="OnLoginClick">Login</button> <button
                        class="btn btn-outline-dark" type="cancel" @onclick="OnCancelClick">Cancel</button>
                </p>
            </div>
        </form>
    </div>
</div>

@code {

    private async Task OnCancelClick()
    {
        Console.WriteLine("My debug cancel.");
    }


    private async Task OnLoginClick()
    {
        Console.WriteLine("My debug Login");
    }



    void cleanInput()
    {

        Console.WriteLine("My debug Login");

    }
}