@page "/login"

<PageTitle>Login User</PageTitle>

@using Blazor.Data
@using Blazor.Data.Models

<h1>Login User</h1>
<p>
<div>
    <p>
        Username <input type="text" title="Username" />
    </p>
</div>
<div>
    <p>
        Password <input type="password" title="Password" />
    </p>
</div>
</p>

<div>
    <p>
        <button class="btn btn-outline-dark" type="submit">Login</button>
    </p>
</div>
<div>
    <p>
        <button class="btn btn-outline-dark" type="cancel">Cancel</button>
    </p>
</div>



                